// Couleur prinicpal PDF
$white: #efefef;
$black: black;
$hover: #8b1414;
$background: #00202c;

// ? Couleur texte
$txt-black: #111111;
$txt-white: #EEEEEE;

// ? Couleur de fond
$fond-black: #1a1a1a;

// ? transistion
$transition: 0.3s;

// ? form
$body-bg: #c1bdba;
$form-bg: #13232f;

$main: #1ab188;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

// ? user profile
$left-color: #242e4d;
$right-color: #897e79;
$green-dark: #35c3c1;
$green-light: #00d6b7;
$gray: #8f8f8f;
$gray-light: #f5f6f8;