// Couleur prinicpal PDF
$white: #efefef;
$black: black;
$hover: #8b1414;
$background: #00202c;

//Couleur texte
$txt-black: #111111;
$txt-white: #EEEEEE;

// Couleur de fond
$fond-black: #1a1a1a;

//transistion
$transition: 0.3s;