body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* 
   ! NAV SECTION
*/
#navbar {
  background: #efefef;
  opacity: 80%;
  padding: 1em;
}

video {
  position: relative;
  top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

header {
  min-height: 16vh;
}

.container,
.container-inner {
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1350px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container-inner {
  max-width: 1000px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  z-index: 9;
  transition: 0.7s;
}

.brand {
  width: 150px;
  height: 92px;
}

nav .container-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .container ul {
  width: 100%;
  margin: 0 1em;
}

nav .container ul:nth-child(2) {
  text-align: right;
}

nav .container ul li {
  display: inline-block;
  margin: 0 0.7em;
}

nav a {
  text-decoration: none;
  font-size: 0.9em;
  transition: 0.3s;
  font-weight: 600;
  color: black;
}

nav a:hover {
  color: #8b1414;
}

.fa-user {
  font-size: 17px;
}

form input,
form button {
  background: #efefef;
  border-radius: 5px;
  color: black;
}

form button {
  cursor: pointer;
}

form input::-moz-placeholder {
  color: black;
}

form input:-ms-input-placeholder {
  color: black;
}

form input::placeholder {
  color: black;
}

form input:focus {
  outline: none;
}

nav .fa-bars {
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.3s;
  text-align: right;
}

nav .fa-bars:hover {
  color: #8b1414;
}

.menu {
  background: #00202c;
  opacity: 75%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  height: 0;
  opacity: 0;
  transition: 0.7s cubic-bezier(0.74, -0.03, 0.83, 0.67);
  overflow-y: hidden;
}

.logo {
  width: 12em;
}

.menu ul,
.menu form {
  margin: 1em auto;
}

.menu li {
  margin: 1em 0;
}

.menu > div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 6em 1em 3em 1em;
  height: 100%;
  overflow-y: scroll;
}

.menu > div::-webkit-scrollbar {
  display: none;
}

.menu .social-media {
  margin: 2em 0;
}

.social-media li {
  display: inline-block;
  margin: 0 0.5em;
}

/* Classes for Js */
.menu-open {
  height: 100vh;
  opacity: 1;
}

.menu-open a {
  color: #efefef;
}

/* 
   ! content of the vertical navbar
*/
.wrapper-profile {
  display: flex;
  position: relative;
}

.wrapper-profile .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #00202c;
  padding: 30px 0;
}

.wrapper-profile .sidebar h2 {
  color: #efefef;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper-profile .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper-profile .sidebar ul li a {
  color: #efefef;
  display: block;
  text-decoration: none;
}

.wrapper-profile .sidebar ul li:hover {
  background: rgb(50, 48, 48);
}

.wrapper-profile .sidebar ul li:hover a {
  color: #efefef;
}

.wrapper-profile .main-content {
  width: 100%;
  margin-left: 200px;
}

/* 
   ! content of the page LOGIN
*/
.container-connection {
  display: grid;
  background-image: url(../images/loginpbackground.jpg);
  height: 100%;
  width: 100%;
  place-items: center;
}

.wrapper {
  overflow: hidden;
  max-width: 340%;
  background: #fff;
  padding: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper .img-connect img {
  width: 20rem;
  display: flex;
  margin: auto;
  text-align: center;
}

.wrapper .title-text .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  z-index: 1;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
}

.slide-controls .signup {
  color: #000;
}

.slide-controls .slide-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 0.6349133403) 0%, rgb(239, 47, 39) 100%);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type=radio] {
  display: none;
}

#signup:checked ~ .slide-tab {
  left: 50%;
}

#signup:checked ~ .signup {
  color: black;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid lightgray;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.form-inner form .field input:focus {
  border-color: #8b1414;
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #8b1414;
  text-decoration: none;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

.form-inner form .login-link a {
  color: #8b1414;
  text-decoration: none;
}

.form-inner form .login-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .login-link a:hover {
  text-decoration: underline;
}

form .field input[type=submit] {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgba(238, 174, 202, 0.6349133403) 0%, rgb(239, 47, 39) 100%);
  font-weight: 500;
  padding-left: 0px;
  border: none;
  cursor: pointer;
}

/* Responsive Design for the NavBar */
@media screen and (max-width: 800px) {
  nav .container-inner {
    display: none;
  }
  nav .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .menu form {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  header {
    font-size: 13px;
  }
}
@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}
/* 
    FOOTER SECTION
*/
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: black;
  color: #EEEEEE;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content {
  margin: 20px 0 0 0;
  position: relative;
}

.box .content::before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}

.box .content::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 45%;
  background: #8b1414;
  top: -10px;
}

.left .content p {
  text-align: justify;
}

.left .content .social {
  margin: 20px 0 0 0;
}

.left .content .social a {
  padding: 0 2px;
}

.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #efefef;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
  background: #8b1414;
}

.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.center .content .fas:hover {
  background: #8b1414;
}

.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center .content .phone {
  margin: 15px 0;
}

.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right form .msg {
  margin-top: 10px;
}

.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #1a1a1a;
  padding-left: 10px;
  border: 1px solid black;
}

.right form input:focus,
.right form textarea:focus {
  outline-color: #8b1414;
}

.right form input {
  height: 35px;
}

.right form .btn {
  margin-top: 10px;
}

.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #8b1414;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.right form .btn button:hover {
  background: black;
}

.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #1a1a1a;
}

.bottom center span {
  color: #656565;
}

.bottom center a {
  color: #8b1414;
  text-decoration: none;
}

.bottom center a:hover {
  text-decoration: underline;
}

/* Responsive Design for the footer */
@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}/*# sourceMappingURL=style.css.map */